@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;
.input {
  border: none;
  padding: 0.5rem 0.25rem;
  border-bottom: 2px solid gray;
  transition: all 0.5s;
  position: relative;

  &:active {
    outline: none;
    border-bottom: 2px solid black;
    transition: all 0.5s;
  }
  &:focus {
    outline: none;
    border-bottom: 2px solid black;
    transition: all 0.5s;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-self: stretch;
  }

  &__err {
    font-size: 10px;
    margin-top: 0.25rem;
    color: rgb(239, 128, 128);
    padding: 0.1rem 0.25rem;
    border-radius: 3px;

    text-align: right;
    align-self: flex-end;
    @include tablet {
      font-size: 12px;
    }
  }
}
