@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.navitem {
  display: flex;
  align-self: stretch;
  &__link {
    color: inherit;
    text-decoration: none;

    &:visited {
      color: inherit;
    }
  }
}

.active {
  border-left: 2px solid black;
  padding-left: 0.5rem;
}
