@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;
.dashboard {
  margin: 1rem;

  @include desktop {
    justify-content: center;
    align-items: center;
    flex: 2;
  }

  &__header {
    background: $gray;
    color: $yellow;
    display: flex;
    align-items: center;
    align-self: flex-start;
    padding: 1rem;
    justify-content: space-between;
    border-radius: 10px;
  }
  &__title {
    color: $yellow;
  }
}
