@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.select {
  align-self: stretch;
  &__selection {
    border: 1px solid black;
    border-radius: 2px;
    padding: 0.5rem;
    color: $black;
    display: flex;
    justify-content: space-between;

    &-arrow {
      cursor: pointer;
    }
  }

  &__options {
    border: 1px solid black;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    display: flex;
    flex-direction: column;

    &-item {
      border-bottom: 1px solid $gray;
      padding: 0.5rem;
      align-self: stretch;
      cursor: pointer;
      transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);

      &:hover {
        background: $gray;
        transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
      }
    }
  }
}
