@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: $black;
  align-items: center;

  @include desktop {
    flex-direction: column;
    height: 100vh;
    justify-content: start;
    width: 10%;
  }

  &__title {
    color: $white;
    cursor: pointer;

    @include desktop {
      align-self: start;
    }
  }

  &__nav {
    display: flex;
    gap: 1rem;
    color: $white;

    @include desktop {
      flex-direction: column;
      position: relative;
      top: 30%;
    }

    &-item {
      color: inherit;
      text-decoration: none;
      overflow: hidden;
      position: relative;
      transition: 1s transform cubic-bezier(0.175, 0.885, 0.32, 1.275);

      @include desktop {
        align-self: start;
      }

      &:hover {
        transform: translate3d(0, -2px, 0);
        transition: 1s transform cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.1rem;

        background-color: $white;
        transform: translate3d(-100%, 0, 0);
        transition: transform 0.5s ease;
      }

      &:hover::after {
        transition: transform 0.5s ease;
        transform: translate3d(0, 0, 0);
      }

      &:visited {
        color: inherit;
      }
    }
  }

  &__btn {
    background: $yellow;
    border: none;
    color: $gray;
    border-radius: 10px;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    transition: all 0.75s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &:hover {
      color: $black;
      background: rgb(225, 124, 124);
      transition: all 0.75s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
  }
}
